
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Image</h2>

<div class="col-7">
    @using (Html.BeginForm("Add", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-row">
            <div class="form-group col-5">
                <label>Name: </label>
                <input type="text" name="name" class="form-control"/>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-6">
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="img" id="img">
                        <label class="custom-file-label" for="img">Choose file</label>
                    </div>
                </div>
            </div>
        </div>

        <input class="btn btn-primary" type="submit" />
        <a class="btn btn-secondary" href="@Url.Action("Index", "Warehouse")">Cancel</a>
    }

</div>